:root {
   --main-text-color: #2E2F42;
   --background-color-white: #FFFFFF;
   --contacts-color: #434455;
   --skill-descrip: #434455;
   --portfolio-descrip: #434455;
   --button-color-blue-portf: #4D5AE5;
   --logo-color-blue: #4D5AE5;
   --logo-color-black: #2E2F42;
   --button-centr-color-white: #FFFFFF;
   --button-centr-color-blue: #4D5AE5;
   --text-banner-color: #FFFFFF;
   --contact-links-hover-color: crimson;
   --footer-background-color: #2E2F42;
}


body {
font-family: 'Roboto', 'sans-serif';
letter-spacing: 0.02em;
background: var(--background-color-white);
}

/* Header */
.header {
   
}

/* Logo */
.logo-web {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--logo-color-blue);
text-decoration:none; property
}
.logo-std {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
flex: none;
order: 1;
flex-grow: 0;
text-decoration:none; property
}

.nav-menu {

}
.nav-linklist{
   list-style-type: none;
}
.studio-link, .contacts-link, .portfolio-link {
text-decoration:none;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: var(--main-text-color);
letter-spacing: 0.02em;
}


.contact-list {
   list-style-type: none
   }


.contact {
   text-decoration: none;
font-size: 16px;
line-height: 1.5;
color: var(--contacts-color);
}
   .contact-list .contact:hover,
   .contact-list .contact:focus {
      color: var(--contact-links-hover-color); }
      

/* Site banner */
.section-banner {
   /* position: absolute;
width: 1440px;
height: 600px;
left: 0px;
top: 72px;
background: var ; */
}
.site-banner {
font-size: 56px;
line-height: 1.071;
text-align: center;

color: var(--text-banner-color);
background: var(--main-text-color);
}

.button-style {
font-family: inherit;
cursor: pointer;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
letter-spacing: 0.04em;
text-transform: capitalize;
color: var(--button-centr-color-white);
background-color: var(--button-centr-color-blue);

 display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 32px;
gap: 10px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

}
   /* .button-style:hover,
   .button-style:focus {
      background-color: var(--button-color);
      color: #FFFFFF;;
   } */
   
   
   /* Section Skills */

.our-skills {
    display: none;
}

.skill-list {
    list-style-type: none;
}

.strategy-skill, .diligence-skill, .punctuality-skill, .technologies-skill{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: var(--main-text-color);
flex: none;
order: 0;
flex-grow: 0;
}
.strategy-skill-descrip, .punctuality-skill-descrip, .diligence-skill-descrip, .technologies-skill-descrip {
font-size: 16px;
line-height: 1.5;
color: var(--skill-descrip);
flex: none;
order: 1;
flex-grow: 0;
}

/* Section: what are we doing */
.section2 {
 

}
.section-doing {

font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
text-transform: capitalize;
color: var(--main-text-color);
}

.list-of-doing {
list-style-type: none;
  
}

/* Section team  */
.our-team-section {

background: #F4F4FD;
}

.team-title {
font-size: 36px;
line-height: 1.11;
text-align: center;
text-transform: capitalize;
color: var(--main-text-color);
}

.team-list {
list-style-type: none;
}

.mark-g, .tom-f, .camila-g, .daniel-w {
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
color: var(--main-text-color)#;
}

.mark-g-img, .tom-f-img, .camila-g-img, .daniel-w-img{
   display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 0px 32px;
gap: 32px;

background: var(--background-color-white);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}

/* Footer section  */

.footer-section {
 
background: var(--footer-background-color);
}
.logo-std-ft {

font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD;
flex: none;
order: 1;
flex-grow: 0;
text-decoration:none; property
}

.footer-text {
font-size: 16px;
line-height: 1.5;
color: #F4F4FD;
}


/* Portfolio page  */

/* Hidden H1  */
.Portfolio-sites {
      display: none;
      }
/* Section buttons  */
.button-portf {

font-family: inherit;
cursor: pointer;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
text-transform: capitalize;
color: var(--button-color-blue-portf);
background-color: #F4F4FD;

 display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 32px;
gap: 10px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

}

  .button-list-potrfolio .button-portf:hover,
  .button-list-potrfolio .button-portf:focus {
      background-color: var(--button-color-blue-portf);
      color:  #F4F4FD;
   }

   .button-list-potrfolio {list-style-type: none;}


   /* Section: Project cards  */
   .cards-links-img {
list-style-type: none;
   }

/* .section-project-cards {
} */

.bank-app, .cashless-p, .meditation-app, .taxi-sevice, .scr-illustr,
.online-courses, .instagram, .food, .coffee {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--main-text-color);
}

.portfol-descrip{
   color: var(--portfolio-descrip)
   font-size: 16px;
line-height: 1.5;
}