body {
font-family: 'Roboto';
letter-spacing: 0.02em;
}

/* Header */
.header {
   
}

/* Logo */
.logo-web {
  width: 44px;
height: 21px;

font-family: 'Raleway';

font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
text-decoration:none; property

}
.logo-std {
width: 71px;
height: 21px;

font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
flex: none;
order: 1;
flex-grow: 0;
text-decoration:none; property
}

.nav-menu {

}
.nav-linklist{
   list-style-type: none;
}
.studio {
text-decoration:none;
width: 48px;
height: 24px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: #2E2F42;

}
.portfolio {
text-decoration:none;
width: 66px;
height: 24px;
font-weight: 500;
font-size: 16px;
line-height: 1,5;
color: #2E2F42;

}
.contacts {  
   text-decoration:none;
   width: 67px;
height: 24px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: #2E2F42;
}

.contact-list {
   list-style-type: none
   }

.contact-mail {
   text-decoration: none;
   width: 153px;
height: 24px;
   font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #434455;
}

.contact-phone {
text-decoration: none;
width: 151px;
height: 24px;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #434455;
}


/* Portfolio page  */
.product-btn {
      display: none;
}
